.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
LICENSE
LICENSE.txt
CHANGELOG.txt
plugins
DefaultIcon.png
DefaultIcon-ios.png
manifest
MarketplaceArtwork.png
README
tiapp.xml
Resources
iTunesConnect.png
.gitattributes


i18n/alloy_generated

platform/android/alloy_generated

platform/android/res/values/strings.xml
